.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    height: 100%;
    flex: 1 1 auto;
}

.example-sidemenu {
    height: 100%;
    width: 10%;
    flex: 1 1 auto;
}

.text-violet {
   color: rgb(153, 102, 255);
}

.text-grey {
    color: rgb(201, 203, 207);
}

.mat-drawer-container {
    background-color: #3f51b512;
}
