<div>
    <div>
        <div class="page-header1">
            <span class="page-header">Dashboard</span>
            <mat-form-field appearance="outline" class="company-select">
                <!-- <mat-label>Select Company</mat-label> -->
                <mat-select [(value)]="selectedCompany" (selectionChange)="onCompanyChange($event)">
                <mat-option value="all">All Companies</mat-option>
                <mat-option value="ABC">Abc</mat-option>
                <mat-option value="XYZ">Xyz</mat-option>
                </mat-select>
            </mat-form-field>
            <label class="company-select company-select2">Select Company</label>
        </div>
    </div>
   
    <hr>
    <mat-grid-list [cols]="breakpointCards" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let card of dashboard.cards" >
            <mat-card class="example-card">
                <mat-card-header class="{{card.color}}">
                    <div class="w-100">
                        <mat-grid-list cols="8">
                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card-subtitle>{{card.total}}</mat-card-subtitle>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="7" [rowspan]="2">
                                <mat-card-title>{{card.title}}</mat-card-title>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <mat-grid-list cols="6" *ngFor="let cont of card.content">
                        <mat-grid-tile [colspan]="1">{{cont.value}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="4">{{cont.title}}</mat-grid-tile>
                        <mat-grid-tile *ngIf="cont.percentage" [colspan]="1">{{((cont.value * 100)/card.total).toFixed(0)}}%</mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="w-100">
        <mat-grid-list [cols]="breakpointCharts" (window:resize)="onResize($event)" rowHeight="450px">
            <mat-grid-tile>
                <mat-card class="report-card">
                    <mat-card-header class="example-card-header">
                        <div class="w-100">
                        <div class="example-heading">Dosage History</div>
                            <mat-radio-group (change)="radioHistoryChange($event)">
                                <mat-radio-button value="daily" [checked]="true">Daily</mat-radio-button>
                                <mat-radio-button value="weekly">Weekly</mat-radio-button>
                                <mat-radio-button value="monthly">Monthly</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <chart class="report-chart" [type]="type" [data]="dosageHistory" [options]="options"></chart>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="report-card">
                    <mat-card-header class="example-card-header">
                        <div class="w-100">
                            <div class="example-heading">Dosage Adherence Vs. Target</div>
                            <mat-radio-group (change)="radioTargetChange($event)">
                                <mat-radio-button value="daily" [checked]="true">Daily</mat-radio-button>
                                <mat-radio-button value="weekly">Weekly</mat-radio-button>
                                <mat-radio-button value="monthly">Monthly</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <chart class="report-chart" [type]="type" [data]="dosageAdheranceVsTarget" [options]="options"></chart>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>
